// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as A11yfy from "../../../index.js";

export declare namespace CertificatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CertificatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CertificatesClient.Options>;

    constructor(options: CertificatesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Looks up compliance certificates by the job that produced them
     * (`job_id`) or by the SHA-256 of the remediated PDF (`output_sha256`).
     * Provide exactly one of the two parameters. Returns the full supersede
     * chain, newest first — the entry with `superseded_by: null` is current.
     *
     * @param {A11yfy.FindCertificatesRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link A11yfy.BadRequestError}
     * @throws {@link A11yfy.UnauthorizedError}
     * @throws {@link A11yfy.NotFoundError}
     *
     * @example
     *     await client.certificates.findCertificates()
     */
    public findCertificates(
        request: A11yfy.FindCertificatesRequest = {},
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<A11yfy.CertificateListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__findCertificates(request, requestOptions));
    }

    private async __findCertificates(
        request: A11yfy.FindCertificatesRequest = {},
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<A11yfy.CertificateListResponse>> {
        const { job_id: jobId, output_sha256: outputSha256 } = request;
        const _queryParams: Record<string, unknown> = {
            job_id: jobId,
            output_sha256: outputSha256,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                "v1/certificates",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as A11yfy.CertificateListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new A11yfy.BadRequestError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 404:
                    throw new A11yfy.NotFoundError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/certificates");
    }

    /**
     * Returns the metadata of a single compliance certificate, including its
     * download and public verification URLs.
     *
     * @param {A11yfy.GetCertificateRequest} request
     * @param {CertificatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link A11yfy.UnauthorizedError}
     * @throws {@link A11yfy.NotFoundError}
     *
     * @example
     *     await client.certificates.getCertificate({
     *         certId: "A11Y-2026-07-3F9K2M"
     *     })
     */
    public getCertificate(
        request: A11yfy.GetCertificateRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<A11yfy.CertificateInfo> {
        return core.HttpResponsePromise.fromPromise(this.__getCertificate(request, requestOptions));
    }

    private async __getCertificate(
        request: A11yfy.GetCertificateRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<A11yfy.CertificateInfo>> {
        const { certId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                `v1/certificates/${core.url.encodePathParam(certId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as A11yfy.CertificateInfo, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 404:
                    throw new A11yfy.NotFoundError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/certificates/{certId}");
    }

    /**
     * Streams the certificate as a PDF/UA-compliant PDF file. The file is
     * immutable: re-issued certificates get a new identifier, the old file
     * never changes.
     *
     * @throws {@link A11yfy.UnauthorizedError}
     * @throws {@link A11yfy.NotFoundError}
     */
    public downloadCertificate(
        request: A11yfy.DownloadCertificateRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadCertificate(request, requestOptions));
    }

    private async __downloadCertificate(
        request: A11yfy.DownloadCertificateRequest,
        requestOptions?: CertificatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { certId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                `v1/certificates/${core.url.encodePathParam(certId)}/download`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 404:
                    throw new A11yfy.NotFoundError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/certificates/{certId}/download",
        );
    }
}
