// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as A11yfy from "../../../index.js";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Async PDF processing launch and status polling
 */
export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the jobs of the organization, newest first, with cursor-based
     * pagination. Pass the returned `next_cursor` as `?cursor=` to fetch the
     * next page; `next_cursor: null` means there are no more results.
     *
     * @param {A11yfy.ListJobsRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link A11yfy.BadRequestError}
     * @throws {@link A11yfy.UnauthorizedError}
     *
     * @example
     *     await client.jobs.listJobs()
     */
    public listJobs(
        request: A11yfy.ListJobsRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<A11yfy.JobListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listJobs(request, requestOptions));
    }

    private async __listJobs(
        request: A11yfy.ListJobsRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<A11yfy.JobListResponse>> {
        const { limit, cursor, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                "v1/jobs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as A11yfy.JobListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new A11yfy.BadRequestError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs");
    }

    /**
     * Single call that launches the full remediation pipeline:
     * diagnostics → credit reservation → processing.
     * Returns a `job_id` immediately for status polling.
     *
     * @param {A11yfy.CreateJobRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link A11yfy.UnauthorizedError}
     * @throws {@link A11yfy.PaymentRequiredError}
     * @throws {@link A11yfy.TooManyRequestsError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.jobs.createJob({
     *         "Idempotency-Key": "550e8400-e29b-41d4-a716-446655440000"
     *     })
     */
    public createJob(
        request: A11yfy.CreateJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<A11yfy.JobAcceptedResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createJob(request, requestOptions));
    }

    private async __createJob(
        request: A11yfy.CreateJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<A11yfy.JobAcceptedResponse>> {
        const _body = await core.newFormData();
        if (request.file != null) {
            await _body.appendFile("file", request.file);
        }

        if (request.webhook_url != null) {
            _body.append("webhook_url", request.webhook_url);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": request["Idempotency-Key"], ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                "v1/jobs",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as A11yfy.JobAcceptedResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 402:
                    throw new A11yfy.PaymentRequiredError(
                        _response.error.body as A11yfy.ApiError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new A11yfy.TooManyRequestsError(
                        _response.error.body as A11yfy.ApiError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/jobs");
    }

    /**
     * Returns the current job status: `pending`, `processing`, `done`, or `failed`.
     * Can be polled during processing.
     *
     * @param {A11yfy.GetJobRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link A11yfy.UnauthorizedError}
     * @throws {@link A11yfy.NotFoundError}
     *
     * @example
     *     await client.jobs.getJob({
     *         id: "id"
     *     })
     */
    public getJob(
        request: A11yfy.GetJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<A11yfy.JobStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getJob(request, requestOptions));
    }

    private async __getJob(
        request: A11yfy.GetJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<A11yfy.JobStatusResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                `v1/jobs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as A11yfy.JobStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 404:
                    throw new A11yfy.NotFoundError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs/{id}");
    }

    /**
     * Returns the completed job result: output URL, credits consumed,
     * pre/post remediation diagnostics.
     *
     * @param {A11yfy.GetJobResultRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link A11yfy.UnauthorizedError}
     * @throws {@link A11yfy.NotFoundError}
     *
     * @example
     *     await client.jobs.getJobResult({
     *         id: "id"
     *     })
     */
    public getJobResult(
        request: A11yfy.GetJobResultRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<A11yfy.JobResultResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getJobResult(request, requestOptions));
    }

    private async __getJobResult(
        request: A11yfy.GetJobResultRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<A11yfy.JobResultResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.A11yfyEnvironment.Default,
                `v1/jobs/${core.url.encodePathParam(id)}/result`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as A11yfy.JobResultResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new A11yfy.UnauthorizedError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                case 404:
                    throw new A11yfy.NotFoundError(_response.error.body as A11yfy.ApiError, _response.rawResponse);
                default:
                    throw new errors.A11yfyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/jobs/{id}/result");
    }
}
